// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-nav {

  div {
    float: left;
    margin-right: 30px;
  }

  div:last-child {
    float: right;
  }

  margin-top: 20px;

}

hr {
  clear:both;
}


